<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819467680335-0f914q40a6k55av13ruvep5fhspqmuvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819467680335-0f914q40a6k55av13ruvep5fhspqmuvj</string>
	<key>API_KEY</key>
	<string>AIzaSyClNUCjGw9VCleyRMpnqc_jnrFzi9CIbNA</string>
	<key>GCM_SENDER_ID</key>
	<string>819467680335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PickFlicks</string>
	<key>PROJECT_ID</key>
	<string>pickflicks-dee84</string>
	<key>STORAGE_BUCKET</key>
	<string>pickflicks-dee84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819467680335:ios:aff7debe77c97bd9f9c83a</string>
</dict>
</plist>